<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="facebook" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Facebook</label>
            <tab>magesuite</tab>
            <resource>MageSuite_Opengraph::facebook</resource>
            <group id="opengraph" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Open Graph</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fb_app_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>fb:app_id</label>
                    <comment>If set, tag is visible on every page</comment>
                </field>
                <field id="default_image" translate="label comment" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">opengraph/store/default_image</upload_dir>
                    <base_url type="media" scope_info="1">opengraph/store/default_image</base_url>
                    <comment>
                        If set, this image will be used as default Open Graph image tag
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>